@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-size: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

/* Pages */

.page-header, main, footer {
  background-color: #ffffff
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.brown {
  color: #ffffff;
  background-color: #756157;
}

.likes-number {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}

.navigation-item {
  list-style: none;
}

.capitalized {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.hero {
    color: #000000;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.advantages-town-list {
  list-style: none;
}

.advantages-town {
  text-align: center;
}

.advantages-town b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-town p {
  font-size: 22px;
  line-height: 26px;
}

.advantages-town-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.white {
  color: #ffffff;
  background-color: #82b3d3
}

.black {
  color: #000000;
}

.light-blue-background {
  background-color: rgba(131, 179, 211, 0.2);
}
.dark-blue-background {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-hotel {
  text-align: center;
}

.advantages-hotel-list {
  list-style: none;
}

.advantages-hotel b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-hotel p {
  font-size: 22px;
  line-height: 26px;
}

.advantages-hotel-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel {
  text-align: center;
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
}

.search-hotel a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-button {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-button {
  background-color: #82b3d3;
}

.footer-social-list {
  list-style: none;
}

.footer-social-item .button {
  text-decoration: none;
  color: #83b3d3;
}

.footer-contacts-address-phone {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
 }

 /* Catalog */

.filter-background {
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #8a4697;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-item {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 23px;
  font-weight: 400;
  list-style-type: none;
}

.catalog-filter-list {
  padding-left: 0;
}

.submit {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.reset {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-h2 {
  font-size: 30px;
  line-height: 36px;
  }

.view .button {
  text-decoration: none;
  color: #000000;
}

.view {
  list-style-type: none;
}

.product-card {
  list-style: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card p {
  font-weight: 400;
}

.product-card a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.product-card-button-about {
  background-color: #756157;
}

.product-card-button-favourite {
  background-color: #82b3d3
}

.green-button {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2
}

.pagination {
  list-style: none;
}

.pagination-link {
text-decoration: none;
color: #ffffff;
background-color: #82b3d3
}

.no-background {
  color: #000000;
  background-color: #ffffff;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
 }

 .subscribe-catalog {

 }
 .subscribe-catalog{
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.field-catalog {
  background-color: #f2f2f2;
}
